@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import "@catppuccin/tailwindcss/mocha.css";

.highlight-title {
    border-left: 8px solid var(--color-ctp-blue);
    padding-left: 8px;
    background: linear-gradient(
        270deg,
        transparent,
        color-mix(in srgb, var(--color-ctp-pink) 10%, transparent),
        color-mix(in srgb, var(--color-ctp-mauve) 30%, transparent),
        color-mix(in srgb, var(--color-ctp-blue) 50%, transparent)
    );
}

.error-background {
    background-image: radial-gradient(circle at center, var(--color-ctp-red-200) 1px, transparent 0);
    background-size: 10px 10px;
}

.disabled-background {
    background: repeating-linear-gradient(45deg, var(--color-ctp-surface0), var(--color-ctp-surface0) 10px, var(--color-ctp-base) 10px, var(--color-ctp-base) 20px);
}

.seperator {
    border: 1px solid var(--color-ctp-surface1);
    width: 50%;
    align-self: center;
}

.bg-fade-image {
    mask-image: linear-gradient(to right, black 0, transparent);
}

.link {
    color: var(--color-ctp-lavender);
    border-bottom: 1px solid var(--color-ctp-lavender);
    padding: 0rem 0.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
}

.link:hover {
    background: var(--color-ctp-lavender);
    color: var(--color-ctp-mantle);
}